.formPassager {
    display: flex;
    justify-content: center;
    margin: 3%;
    padding: 2px;
    width: 80%;
}


.pressed {
    background-color: darkblue;
    color: white;
}

.btn-prix{
    min-width: 30vh;
}

.btn-continuer{
    margin-top: 2%;
}

.ctn-passagerform{
    margin-top: 1%;
}

.reduce {
    width: 50% !important;
  }

