<div class="container">


<form [formGroup]="volForm" (ngSubmit)="onSubmit()">

  <!-- AEROPORT DEPART ET ARRIVEE -->
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-plane-departure"></i>
          </span>
        </div>
        <input formControlName="depart" type="text" class="form-control" placeholder="Aéroport de départ" aria-label="depart"
          aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-plane-arrival"></i>
          </span>
        </div>
        <input formControlName="arrivee" type="text" class="form-control" placeholder="Aéroport d'arrivée" aria-label="arrivee"
          aria-describedby="basic-addon1" required>
      </div>
    </div>
  </div>

  <!-- DATE DEPART ET ARRIVEE -->
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-calendar-alt"></i>
          </span>
        </div>
        <input formControlName="dateAller" type="text" class="form-control" placeholder="Date de départ" aria-label="dateAler"
          aria-describedby="basic-addon1" bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue'}" required>
      </div>
    </div>
    <div class="col">
      <div *ngIf="back" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-calendar-alt"></i>
          </span>
        </div>
        <input formControlName="dateRetour" type="text" class="form-control" placeholder="Date de retour" aria-label="dateRetour"
          aria-describedby="basic-addon1" bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue'}" required>
      </div>
    </div>
  </div>

  <!-- CHOIX CLASSE -->
  <div class="row d-flex justify-content-center">
    <div class="col-6 justify-content-center">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <img src="../../../assets/seat.png" alt="seat">
          </span>
        </div>
        <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
          <option selected>Classe...</option>
          <option value="1">Economique</option>
          <option value="2">Business</option>
          <option value="3">Premium</option>
        </select>
      </div>
    </div>
  </div>

  <!-- CHOIX DES PASSAGERS -->

  <div formGroupName="typePassager">
  
    
        <!-- ADULTE -->
     <div class="row">   
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Adulte</label>
          </div>
          <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
         <!-- ENFANT -->
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Enfant</label>
          </div>
          <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>

        <!-- BEBE -->
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Bébé</label>
          </div>
          <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    </div>
  </div>


    <!-- BUTTON -->
  <div class="d-flex justify-content-around">
      <button type="submit" class="btn btn-dark btn-sm">Rechercher</button>
    </div>
</form>
</div>


<!-- APPEL RESULT-SEARCH
  <div class="container">
      <div class="row align-items-center">
        <app-result-search class="col-sm-12 col-md-12 col-lg-12 p-3" *ngFor="let vol of this.vols" [vol]='vol' ></app-result-search>
      </div>
  </div>

-->


