
      <div class="c1">
          <div class="row">
            <div class="col ic1">
              <div class="input-group lg">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-plane-departure"></i></span>
                </div>
                <app-search-airport></app-search-airport>
              </div>
            </div>
            
            <div class="col ic1">
              <div class="input-group lg">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-plane-arrival"></i></span>
                </div>
                <app-search-airport></app-search-airport>
              </div>
            </div>
          </div>
        </div>
        <div class="c1">
          <div class="row">
            <div class="col-sm">
              <input type="text" placeholder="Date de départ" class="form-control" bsDatepicker>
            </div>
            <div *ngIf="back" class="col-sm">
              <input type="text" placeholder="Date de retour" class="form-control" bsDatepicker>
            </div>
            <div class="col-sm">
  
              <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option selected>Classe...</option>
                <option value="1">Economique</option>
                <option value="2">Business</option>
                <option value="3">Premium</option>
              </select>
            </div>
          </div>
        </div>
        
  
    <div class="row c1">
      <div class="col-sm">
        <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
          <option selected>Adulte...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        </div>
     
      <div class="col-sm">
        <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
          <option selected>Enfant...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        </div>
     
      <div class="col-sm">
        <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
          <option selected>Bébé...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
  
        </select>
        </div>
    </div>
       <div class="col-sm">
  <button type="button" class="btn btn-primary">
    Rechercher
  </button>
        </div>