<div class="container">
  <div class="login-container">
    <div class="top-glare" aria-hidden="true"></div>
    <img aria-hidden="true" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/64/profile-group-icon.png" alt="" />
    <h1>Identification</h1>
    <form action="#" method="get">
      <div class="form-field">
        <label for="uname">Nom D'utilisateur</label>
        <input type="text" id="uname" />
      </div>
      <div class="form-field">
        <label for="pwd">Mot De Passe</label>
        <input type="text" id="pwd" />
      </div>
      <div class="form-field">
        <input type="submit" value="Login" />
      </div>
      <div class="form-field">
        <a class="forgot-pass-link" routerlink="signin">S'identifier</a>
      </div>
    </form>
  </div>
</div>