img{
    height: 200px;
    object-fit: cover;
    transition: transform .5s;
    z-index: 0;
    width: 100%;
}
.card{
    text-align: center;
}
img:hover{
    transform: scale(1.5);
    object-fit: contain;
    z-index: 9999;
}