<div class="container">
  <tabset>
    <tab heading="Aller Simple">
      
        <div class="c1">
    <div class="row">
      <div class="col ic1">
        <div class="input-group lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Départ</span>
          </div>
            <input type="text" autocomplete="on" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
      </div>
                  <div class="col col-lg-2">
                  <i class="fas fa-exchange-alt ic"></i>
                  </div>
      <div class="col ic1">
        <div class="input-group lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Arrivéé</span>
          </div>
            <input type="text" autocomplete="on" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
      </div>
    </div>
  </div>
  <div class="c1">
    <div class="row">
    <div class="col-sm">
        <input type="text"
        placeholder="Sélectionner la  date de votre aller"
        class="form-control"
        bsDatepicker>
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
    <option selected>Type...</option>
    <option value="1">Ecomnomique</option>
    <option value="2">Business</option>
    <option value="3">Premium</option>
  </select>
    </div>
  </div>
  </div>
  <div class="row c1">
    <div class="col-sm">
      <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option selected>Adulte...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="col-sm">
      <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option selected>Enfant...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="col-sm">
      <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option selected>Bébé...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    
      <div class="col-sm">
<button type="button" class="btn btn-primary">
  Rechercher
</button>
      </div>
    
  </div>
    </tab>
    <tab heading="Aller - Retour">
      
        <div class="c1">
    <div class="row">
      <div class="col ic1">
        <div class="input-group lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Départ</span>
          </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
      </div>
                  <div class="col col-lg-2">
                  <i class="fas fa-exchange-alt ic"></i>
                  </div>
      <div class="col ic1">
        <div class="input-group lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Arrivéé</span>
          </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
      </div>
    </div>
  </div>
  <div class="c1">
    <div class="row">
    <div class="col-sm">
        <input type="text"
        placeholder="Sélectionner la  date de votre aller"
        class="form-control"
        bsDatepicker>
    </div>
    <div class="col-sm">
        <input type="text"
        placeholder="Sélectionner la  date de votre retour"
        class="form-control"
        bsDatepicker>
    </div>
    <div class="col-sm">
      
        <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option selected>Type...</option>
            <option value="1">Ecomnomique</option>
            <option value="2">Business</option>
            <option value="3">Premium</option>
          </select>
    </div>
  </div>
  </div>
  <div class="row c1">
    <div class="col-sm">
      <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option selected>Adulte...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      </div>
   
    <div class="col-sm">
      <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option selected>Enfant...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      </div>
   
    <div class="col-sm">
      <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option selected>Bébé...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>

      </select>
      </div>
  
     <div class="col-sm">
<button type="button" class="btn btn-primary">
  Rechercher
</button>
      </div>
  </div>
  
  
    </tab>
  </tabset>
</div>
 